.App {
  background-color: #282c34;
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 2em;
}

.App-body {
  width: 100%;
  margin-top: 2em;
  padding: 0 3em;
  font-size: 24px;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}
